In [4]:
import pandas as pd
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [5]:
import pandas as pd
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [11]:
def get_data(nrows=1000):
    '''returns a DataFrame with nrows from downloaded Keggle csv in raw_data folder'''
    dataset_1 = pd.read_csv("../raw_data/dataset_1.csv", nrows=nrows)
    df = dataset_1.copy()
    return df

In [12]:
df = get_data()

In [13]:
df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1 2 Serjeant s Inn Fleet Street City of London...,639,4/25/2017,9.2,Apex Temple Court Hotel,United Kingdom,No Negative,0,2619,Great location room was outstanding beds were...,30,5,10.0,"[' Leisure trip ', ' Couple ', ' City Twin Roo...",100 day,51.513734,-0.108751
996,1 2 Serjeant s Inn Fleet Street City of London...,639,4/23/2017,9.2,Apex Temple Court Hotel,United Kingdom,The cleaner knocked on our door at 8am which ...,38,2619,The hotel gave us a complimentary upgrade to ...,28,2,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",102 day,51.513734,-0.108751
997,1 2 Serjeant s Inn Fleet Street City of London...,639,4/21/2017,9.2,Apex Temple Court Hotel,United States of America,This was my second time at this hotel the fir...,72,2619,No Positive,0,11,8.3,"[' Business trip ', ' Solo traveler ', ' Super...",104 day,51.513734,-0.108751
998,1 2 Serjeant s Inn Fleet Street City of London...,639,4/20/2017,9.2,Apex Temple Court Hotel,Spain,Going as a family with two rooms hired in the...,34,2619,The design facilities and location of the hot...,16,7,10.0,"[' Leisure trip ', ' Family with young childre...",105 day,51.513734,-0.108751
999,1 2 Serjeant s Inn Fleet Street City of London...,639,4/19/2017,9.2,Apex Temple Court Hotel,United Kingdom,Some of the complimentary items of food from ...,24,2619,Staff were lovely reception sent a card and a...,46,3,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",106 day,51.513734,-0.108751

In [7]:
def clean_data(df):
    '''returns cleaned DataFrame'''
    
    # dropping redundant columns
    df_clean = df[['Negative_Review', 'Positive_Review', 'Reviewer_Score']]

    # Cleaning, merging and renaming negative and positive reviews
    df_clean.loc[:,'Negative_Review'] = df_clean.loc[:,'Negative_Review'].replace(to_replace="No Negative", value="")
    df_clean.loc[:,'Positive_Review'] = df_clean.loc[:,'Positive_Review'].replace(to_replace="No Positive", value="")
    df_clean.loc[:,"reviews"] = df_clean.loc[:,'Negative_Review'] + " " + df_clean.loc[:,'Positive_Review']
    df_clean.loc[:,"review_score"] = df_clean.loc[:,'Reviewer_Score']
    df_clean = df_clean.drop(columns=['Negative_Review', 'Positive_Review', 'Reviewer_Score'])

    # Remove reviews with less than 10 words (or signs)
    df_clean['length'] = df_clean['reviews'].apply(lambda x: len(word_tokenize(str(x))))
    df_clean.drop(df_clean[df_clean['length'] < 11].index, inplace=True)
    df_clean.drop(columns=['length'], inplace=True)
    df_clean.reset_index(drop=True, inplace=True)

    return df_clean

In [8]:
df = get_data()

FileNotFoundError: [Errno 2] No such file or directory: 'raw_data/dataset_1.csv'

In [72]:
clean_data(df)

/home/kili/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1675: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/home/kili/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

                                                 reviews  review_score
0       I am so angry that i made this post available...           2.9
1        No real complaints the hotel was great great...           7.5
2       Rooms are nice but for elderly a bit difficul...           7.1
3       My room was dirty and I was afraid to walk ba...           3.8
4       You When I booked with your company on line y...           6.7
...                                                  ...           ...
75106   Food Menu could do with Expanding to give a b...          10.0
75107   separate toilet like between WC and Bathroom ...           7.9
75108   Toilet was seperate and needed an extractor a...           9.6
75109    Great location good service spoke good Engli...           8.3
75110   Small room and no bath for a 4 star hotel  Vi...           6.7

[75111 rows x 2 columns]

In [5]:
def custom_stopwords():
    """create custom stopwords list excluding negative words"""
    negative_words = ['no',
    'nor',
    'not',
    "don't",
    'should',
    "should've",
    'aren',
    "aren't",
    'couldn',
    "couldn't",
    'didn',
    "didn't",
    'doesn',
    "doesn't",
    'hadn',
    "hadn't",
    'hasn',
    "hasn't",
    'haven',
    "haven't",
    'isn',
    "isn't",
    "wasn't",
    'weren',
    "weren't",
    'won',
    "won't",
    'wouldn',
    "wouldn't"]

    custom_stopwords = [x for x in stopwords.words('english') if x not in negative_words]

    return custom_stopwords

In [7]:
def clean_for_nlp(text):
    """ preprocess review text data for nlp analysis """
    # Lower case
    text = ''.join(text)
    text = text.lower()
    # Remove numbers
    text = ''.join(word for word in text if not word.isdigit())
    # Remove punctuation
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    # Remove stopwords
    text = word_tokenize(text)
    stopwords = custom_stopwords()
    text = [w for w in text if not w in stopwords]
    # Lemmatizing
    lemmatizer = WordNetLemmatizer()
    text = [lemmatizer.lemmatize(word) for word in text]
    text = ' '.join(word for word in text)

    return(text)

In [45]:
df = get_data()

In [46]:
df = clean_data(df)

/home/kili/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1675: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/home/kili/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
/home/kili/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)
/home/kili/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/frame.py:4305: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [34]:
y = df["review_score"]
X = df.drop("review_score", axis=1)

In [48]:
y

0        2.9
1        7.5
2        7.1
3        3.8
4        6.7
        ...
7875    10.0
7876     7.5
7877     4.2
7878     7.9
7879    10.0
Name: review_score, Length: 7880, dtype: float64

In [36]:
X

                                                reviews
0      I am so angry that i made this post available...
1       No real complaints the hotel was great great...
2      Rooms are nice but for elderly a bit difficul...
3      My room was dirty and I was afraid to walk ba...
4      You When I booked with your company on line y...
...                                                 ...
7875   Could not ask got anything better   Staff and...
7876   Rooms were a little dark and small Breakfast ...
7877   Dirty towels hotel misplaced our baggage Room...
7878   Bed and bedroom too small Breakfast would be ...
7879    A little gem of a hotel full of history but ...

[7880 rows x 1 columns]

In [56]:
# clean data
X_transformed = list(map(clean_for_nlp, X['reviews']))

AttributeError: 'str' object has no attribute 'dtype'

In [ ]:
X_transformed = X_transformed.astype(np.int32)

In [58]:
from sklearn.feature_extraction.text import CountVectorizer

In [61]:
# vectorize data
vectorizer = CountVectorizer()
m = vectorizer.fit_transform(X_transformed)

In [75]:
m.dtype

dtype('int64')

In [77]:
import numpy as np

In [78]:
m = m.astype(np.int32)

In [80]:
m.dtype

dtype('int32')

In [63]:
m.shape

(7880, 9191)

In [66]:
type(m)

scipy.sparse.csr.csr_matrix

In [68]:
k = m.toarray()

In [69]:
pd.DataFrame(k)

,0,1,2,3,4,5,6,7,8,9,...,9181,9182,9183,9184,9185,9186,9187,9188,9189,9190
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7875,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7876,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7877,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7879,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0